<div id="demo" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <div class="carousel slide" id="carouselExampleIndicators" data-ride="carousel">
      <ol class="carousel-indicators">
          <li class="active" data-target="#carouselExampleIndicators" data-slide-to="0"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
          <div class="carousel-item active">
              <img class="d-block w-100" src="/assets/img/slide1.png" alt="..." />
              <div class="carousel-caption d-none d-md-block">
              </div>
          </div>
          <div class="carousel-item">
              <img class="d-block w-100" src="/assets/img/slide2.png" alt="..." />
              <div class="carousel-caption d-none d-md-block">
              </div>
          </div>
          <div class="carousel-item">
              <img class="d-block w-100" src="/assets/img/slide3.png" alt="..." />
              <div class="carousel-caption d-none d-md-block">
              </div>
          </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
      </a>
  </div>
  <hr class="my-0" />
  <section class="py-5" >
    <div class="container">
        <h1 class="mb-4 text-primary">Nuestros servicios</h1>
        <div class="row">
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                  <div class="inner">
                    <a href="#!"><img class="card-img-top zoom" src="/assets/img/Odontopediatria.jpg" alt="..." /></a>
                  </div>                   
                    <div class="card-body">
                        <h3 class="card-title text-primary">Odontopediatria</h3>
                        <div class="card-footer"><a class="btn btn-outline-primary btn-ls" href="#!">Leer más</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                  <div class="inner">
                    <div class="inner">
                      <a href="#!"><img class="card-img-top" src="/assets/img/blanqueamiento.jpg" alt="..." /></a>
                    </div>
                  </div>                   
                    <div class="card-body">
                        <h3 class="card-title text-primary">Blanqueamiento</h3>
                        <div class="card-footer"><a class="btn btn-outline-primary btn-sm" href="#!">Leer más</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                  <div class="inner">
                    <a href="#!"><img class="card-img-top" src="/assets/img/ortodoncia.jpg" alt="..." /></a>
                  </div>
                    <div class="card-body">
                        <h4 class="card-title text-primary">Ortodoncia</h4>
                        <div class="card-footer"><a class="btn btn-outline-primary btn-sm" href="#!">Leer más</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                  <div class="inner">
                    <a href="#!"><img class="card-img-top" src="/assets/img/Periodoncia.jpg" alt="..." /></a>
                  </div>                  
                    <div class="card-body">
                        <h3 class="card-title text-primary">Periodoncia</h3>
                        <div class="card-footer"><a class="btn btn-outline-primary btn-sm" href="#!">Leer más</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                  <div class="inner">
                    <a href="#!"><img class="card-img-top" src="/assets/img/Rehabilitación Oral.jpg" alt="..." /></a>
                  </div>                   
                    <div class="card-body">
                        <h4 class="card-title text-primary">Rehabilitación Oral</h4>
                        <div class="card-footer"><a class="btn btn-outline-primary btn-sm" href="#!">Leer más</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6 mb-4">
                <div class="card h-100">
                  <div class="inner">
                    <a href="#!"><img class="card-img-top" src="/assets/img/Implantes Dentales.jpg" alt="..." /></a>
                  </div>   
                    <div class="card-body">
                        <h4 class="card-title text-primary">Implantes Dentales</h4>
                        <div class="card-footer"><a class="btn btn-outline-primary btn-sm" href="#!">Leer más</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<hr class="my-0" />
<section class="py-5" style="background-color: rgb(193, 226, 253);">
  <div class="container">
      <div class="row">
          <div class="col-lg-6">
              <h1 class="mb-4 text-primary" > Sobre Nosotros</h1>
              <p>Somos una clínica especializada en diferentes tratamientos dentales, con más de quince años en el ámbito de la salud.
                Nuestro objetivo principal es brindar servicio de calidad a todos los pacientes a través de los más preparados especialistas y odontólogos generales.</p>
          </div>
          <div class="col-lg-6">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oroOkJVdLVU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
      </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <h1 class="mb-4 text-primary text-center">Nuestras Especialidades​</h1>
              <p class="text-center" style="font-size: 25px;">¨Somos un centro odontológico especializado en diferentes áreas, tales como: Ortodoncia, Periodoncia, Implantes Dentales, Prótesis Dentales, Endodoncia, Cirugía Bucal, Estética Dental, entre otros servicios dados por nuestros profesionales altamente capacitados¨</p>
          </div>
      </div>
  </div>
</section>
