<nav class="navbar  navbar-findcond sticky-top navbar-expand-lg navbar-light bg-light border-bottom  border-info effect1" >
    <a class="navbar-brand" href="#">
      <img src="/assets/img/Logo-Odonto-Arte.png" alt="" width="100" height="100" class="d-inline-block align-text-top">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre nosotros</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Turismo Dental</a>
        </li> 
        <li class="nav-item">
          <a class="nav-link" href="#">Productos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Contactos</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-outline-info" href="#"><span class="fas fa-calendar-alt"></span><span>  Hacer cita</span></a>
        </li> 
      </ul>  
    </div>
</nav>
