<app-navbar></app-navbar>

    <router-outlet>

    </router-outlet>

  <!-- Footer -->
  <footer class="py-5 " style="background-color: #01b5e8;">
    <section>
      <ul id="services">
        <h2>Siguenos en nuestras redes sociales:</h2>
        <li>
          <div class="facebook">
            <a href="https://www.facebook.com/OdontoArteSmileCenter?_rdc=1&_rdr" target="_blank">
              <i class="fa fa-facebook" aria-hidden="true"></i>
            </a>
          </div>
          <span>Facebook</span>
        </li>
        <li>
          <div class="youtube">
            <a href="https://www.youtube.com/channel/UCqnR-ZB0opQ9Kz6fGDdtO9g" target="_blank">
              <i class="fa fa-youtube" aria-hidden="true"></i>
            </a>
          </div>
          <span>YouTube</span>
        </li>
        <li>
          <div class="instagram">
            <a href="https://www.instagram.com/odontoartesmilecenter/?hl=es-la" target="_blank">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </div>
          <span>Instagram</span>
        </li>
        <li>
          <div class="instagram">
            <a href="https://api.whatsapp.com/send?phone=18492624412&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Odontoarte%20Center."  target="_blank">
              <i class="fab fa-whatsapp" aria-hidden="true"></i>
            </a>
          </div>
          <span>Whatsapp</span>
        </li>
      </ul>
    </section>
    <p class="m-0 text-center text-white">- odontoartesmilecenter.com -</p>
   <hr />   
  <div class="container">
     <p class="m-0 text-center text-white">Copyright &copy; Odontoarte 2021</p>
  </div>
</footer>
  <!-- Footer -->


